* {
	font-family: "Poppins", "Trebuchet MS", sans-serif;
}

body {
	background-image: url("assets/background/default.png");
	background-attachment: fixed;
}

.header {
	background-color: rgb(0, 0, 0, 0.6);
	display: flex;
	align-items: center;
	height: 55px;
	justify-content: space-between;
}

.header-logo {
	font-size: 20px;
	cursor: pointer;
	font-weight: 500;
	padding: 15px;
}

.header-icon {
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.header-button-icon {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

.header-themes-button {
	background: #00000050;
	padding: 8px;
	padding-left: 12px;
	padding-right: 12px;
	border-radius: 25px;
	font-weight: 500;
	cursor: pointer;
	font-size: 16px;
	margin-right: 20px;
	transition-duration: 0.1s;
}

.header-themes-button:hover {
	background-color: #000000;
}

.theme-icon {
	width: 30px;
	height: 30px;
	border-radius: 10px;
	transition-duration: 0.05s;
}

.theme-icon:hover {
	outline: 2px solid rgba(255, 255, 255, 0.3);
	border-radius: 5px;
}

.cs {
	background: #00000065;
	justify-content: center;
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 30px;
	border-radius: 20px;
}

.cs-wp {
	padding-top: 40px;
	padding-bottom: 40px;
}

.cs-wp-title {
	font-size: 50px;
	font-weight: 500;
}

.cs-wp-description {
	font-size: 20px;
}

.text-color {
	color: white;
}

/* width */
::-webkit-scrollbar {
	width: 15px;
	background-color: darkslategrey;
	border: 0;
}

/* Track */
::-webkit-scrollbar-track {
	border: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: azure;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: white;
	border-radius: 6px;
}

.dropdown-menu {
	min-width: 10px !important;
}

.alert {
	margin-right: 2%;
	margin-left: 2%;
}

.plan-days {
	display: flex;
	margin-left: 5%;
	margin-right: 5%;
	justify-content: center;
	text-align: center;
}

.plan {
	background: #00000065;
	justify-content: center;
	text-align: center;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 25px;
	width: 100%;
	height: 1000px;
}
.plan-title {
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.plan.hours {
	border-bottom-left-radius: 20px;
	margin-left: 0;
	width: 60%;
}

.plan.friday {
	border-bottom-right-radius: 20px;
	margin-right: 0;
}

.plan-element {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	border-width: 1px;
	margin-left: 10%;
	margin-right: 10%;
	height: 9%;
	align-content: center;
}

.plan-element.first {
	border-top: 0;
}
.plan-element.last {
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.plan-element.last-nb {
	border-bottom: 0;
}

.plan-element.plan-element-title {
	font-size: 18px;
	padding-top: 8px;
	padding-bottom: 8px;
	height: 10%;
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);
	margin-left: 5%;
	margin-right: 5%;
}
